.advantages__header {
  padding: 40px 30px;

  text-align: center;

  line-height: 26px;
}

.advantages__slogan {
  display: block;
  margin-bottom: 30px;

  font-size: 18px;
  color: #000000;
}

.advantages__intro {
  margin: 0;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  &--extended {
    display: flex;
    flex-direction: column;

    color: #ffffff;

    background-color: #81b3d2;
  }

  &--short {
    background-color: #eeeeee;
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantages__item--short:last-child {
  border-bottom: none;
}

.advantages__text {
  width: 280px;
  padding: 40px 20px;

  text-align: center;

  &--gray {
    width: 250px;
    padding: 27px 35px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.advantages__title--white {
  color: #ffffff;
}

.advantages__description {
  margin: 0;
  margin-top: 16px;
}

.advantages__picture {
  width: 320px;
  height: 260px;

  margin: 0;
  padding: 0;
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .advantages__header {
    padding: 48px 80px;
  }

  .advantages__slogan {
    margin-bottom: 32px;

    font-size: 21px;
  }

  .advantages__item {
    &--extended {
      flex-direction: row;
    }

    &--short {
      border-bottom: none;
    }
  }

  .advantages__text {
    width: 170px;
    padding: 44px 43px;

    &--gray {
      width: 158px;
      padding: 44px 49px;
    }
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__description {
    margin-top: 25px;
  }

  .advantages__picture {
    width: 512px;
    height: 256px;

    &--left {
      order: -1;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__header {
    padding: 48px 300px;
  }

  .advantages__text {
    width: 270px;
    padding: 50px 65px;

    &--gray {
      padding: 44px 65px 62px;
    }
  }

  .advantages__title {
    padding: 0 55px;
  }

  .advantages__picture {
    width: 800px;
    height: 256px;
  }
}
