.offers-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-list__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .offers-list {
    display: flex;
  }
}
