.offers-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 40px;
  padding: 0 20px;
  list-style: none;
}

.offers-list__item {
  position: relative;

  padding-top: 27px;
  padding-left: 50px;

  &--food {
    order: 1;
  }
}

.offers-list__title {
  display: block;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.offers-list__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .offers-list {
    flex-direction: row;
    padding: 0;
    margin-bottom: 0;
  }

  .offers-list__item {
    width: 170px;
    padding: 162px 43px 64px;;

    text-align: center;

    &--food {
      order: 0;
    }
  }

  .offers-list__title {
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .offers-list__item {
    width: 280px;
    padding: 162px 60px 85px;

    text-align: center;
  }
}
