.video {
  margin-bottom: 45px;
}

.video__info {
  margin: 0 20px;
  padding: 33px 20px;

  text-align: center;

  border-top: 1px solid #e5e5e5;
}

.video__title {
  display: block;
  margin-bottom: 27px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.video__text {
  margin: 0;

  line-height: 24px;
}

.video__picture {
  height: 201px;
}

.video__panel {
  margin: 0 20px;
  margin-top: -45px;
}

.video__control {
  position: relative;

  padding: 22px 22px 20px;

  background-color: rgba(0, 0, 0, 0.6);
}

.video__scale {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__toggle {
  position: absolute;
  top: 19px;
  left: 58px;

  width: 9px;
  height: 9px;

  background-color: #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.video__buttons {
  position: relative;

  height: 66px;

  background-color: #f2f2f2;
}

.video__icon {
  position: absolute;

  width: 32px;
  height: 32px;

  fill: #5c6870;

  &--replay {
    top: 22px;
    left: 25px;
  }

  &--subtitles {
    top: 24px;
    right: 73px;

  }

  &--fullscreen {
    top: 24px;
    right: 10px;
  }

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 49px;
  }

  .video__info {
    margin: 0 60px;
    padding: 68px 105px 73px;
    border-top: none;
  }

  .video__title {
    margin-bottom: 30px;

    font-size: 30px;
  }

  .video__content {
    margin: 0 60px;
  }

  .video__picture {
    height: 499px;
  }

  .video__panel {
    position: relative;
    margin: 0;
    margin-top: -93px;
  }

  .video__control {
    padding: 45px 166px 45px 93px;
  }

  .video__scale {
    width: 389px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .video__toggle {
    top: 42px;
    left: 206px;
  }

  .video__buttons {
    height: 0;
  }

  .video__icon {
    fill: #ffffff;

    &--replay {
      top: -57px;
      left: 35px;
    }

    &--subtitles {
      top: -56px;
      right: 92px;

    }

    &--fullscreen {
      top: -56px;
      right: 28px;
    }

    &:hover {
      fill: #ffffff;

      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 93px;
  }

  .video__info {
    margin: 0 200px;
    padding: 70px 190px;
  }

  .video__title {
    margin-bottom: 33px;
  }

  .video__content {
    margin: 0 200px;
  }
}
